<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Olympic App</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<!-- header -->
	<header id="site-header">
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header"><a href="/" class="navbar-brand">Olympics App</a>

				</div>
			</div>
		</div>
	</header>


	<main id="site-main">
		<div class="container">
			<%- body %>
		</div>
	</main>


	<footer id="site-footer">
		Copyright &copy; 2016 Olympics
	</footer>

</body>
</html>