<div class="jumbotron text-center">
	<h1>All Events</h1>

	<table class="table table-bordered table-hover table-stripped">
		<thead>
			<tr>
				<th>Event Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% events.forEach(function(event,index) { %>
				<tr>
					<td><%= event.name %></td>
					<td><%= event.description %></td>
					<td>
						<a href="/events/<%= event.slug %>" class="btn btn-sm btn-primary">View</a>
					</td>
				</tr>
			<% }) %>
		</tbody>

	</table>
</div>		



